<div class="ui middle aligned grid container" style="min-height: 100%; padding: 2rem 0;">
  <div class="five wide computer four wide tablet column"></div>
  <div class="six wide computer eight wide tablet sixteen wide mobile column">{$BeforeHeaderContent}{Header}
    <h1 class="ui center aligned header">{$HeaderImage}
      <div class="content">{$title}</div>
    </h1>{/}{$AfterHeaderContent}
    <div class="ui segment">{$Content}</div>
  </div>
  <div class="five wide computer four wide tablet column"></div>
</div>
