<!DOCTYPE html>
<html lang="{lang}en{/}">
  <head>
    <title>{title}DelimAplikasi - Custom ERP{/}</title>{$meta}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script type="application/javascript">{$InitJsBundle}</script>
    {$HEAD}
    <style type="text/css">{$style}</style>{$phpDebugBarHead}
  </head>
  <body class="{$class}">{$Content}
    <div class="atk-side-panels">{$RightPanel}</div>
    <div class="ui dimmer modals page">{$Modals}</div>{$kint}{$phpDebugBar}
  </body>
</html>
